/* === VARIABLES === */
:root {
  --primary-font: "Roboto";
  --secondary-font: "Raleway", sans-serif;

	--iris: rgb(77, 90, 229);
	--ocean: rgb(64 75 191);
	--navy-blue: rgb(46, 47, 66);
	--green: rgb(49 208 170);
	--slate: #434455;
	--light-slate: rgb(142 143 153);
	--cornflower: rgb(231 233 252);
	--cloud: rgb(244 244 253);
	--navy-blue-modal: rgba(46 47 66 / 0.4);
	--grey: rgba(46 47 66 / 0.7);
	--white: rgb(255 255 255);
	--dairy: rgb(252 252 252);
}
/* === /VARIABLES ==== */

/* ==== COMMON STYLES === */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section {
  padding: 120px 0; 
}

/* === HEADER STYLES === */
.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container,
.page-navigation,
.menu,
.contact-list {
  display: flex;
  align-items: center;
}

.menu {
  gap: 40px;
}

.contact-list {
  gap: 40px;
}

.page-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);  
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}

.header-accent-color {
  color: var(--navy-blue);
}

.menu-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover::after, 
.menu-link:focus::after,
.menu-link.active-link::after {
  opacity: 1;
}

.contact-address {
  font-style: normal;
  margin-left: auto;
}

.contact-list-link {
  display: block;
  padding: 24px 0;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.contact-list-link:hover,
.contact-list-link:focus,
.menu-link.active-link {
  color: var(--ocean);
}

/* === /HEADER STYLES === */

/* === HERO STYLES=== */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--grey);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(var(--grey), var(--grey)),
  url('../images/hero/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.order-btn {
  display: block;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--ocean);
}
/* === /HERO STYLES === */

/* === FEATURES STYLES === */
.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 3*24px) / 4);
  background-color: var(--white);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--cloud);
  margin-bottom: 8px;
}


.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-list-content {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* === /FEATURES STYLES === */

/* === TEAM STYLES === */
.team-section {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  width: calc((100% - 3*24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.team-list-content {
  text-align: center;
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  fill: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--ocean);
}
/* === /TEAM STYLES === */

/* === PORTFOLIO STYLES === */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-item {
  width: calc((100% - 2*24px) / 3);
  background-color: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-list-content {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.portfolio-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* === /PORTFOLIO STYLES === */

/* === FOOTER STYLES === */
.page-footer {
  background: var(--navy-blue);
  color: var(--cloud);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left-content {
  margin-right: 120px;
}

.footer-accent-color {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-center-content .social-list {
  gap: 16px;
}
.footer-center-content .social-list-link:hover,
.footer-center-content .social-list-link:focus {
  background-color: var(--green);
}

/* === /FOOTER STYLES === */